body {
	font-family: "PT Sans";
	/*font-stretch: condensed; */
	font-weight: normal;
	font-size: 14px;
	line-height: 26px;
	color: black;
	text-transform: uppercase;
}

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.h1_hidden {
	font-size: 21px;
	line-height: 26px;
	color: black;
}



.all_wrapper {
	position: relative;
	width: 1200px;
	height: 2762px;
	margin: 0 auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
 
/*HEADER--------------------------------------------------------------*/

.top_menu_nav {
	width: 1200px;
	background: white;
	font-size: 0px;
}

.top_menu_logo {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.top_menu_nav ul {
	padding: 0; /*непонятно, откуда он тут взялся, чтоб его обнулять?*/
}

.top_menu_nav li {
	display: inline-block;
	vertical-align: top;
	width: 239px;
	text-align: center;
	padding: 15px 0 15px 0;
	font-size: 14px;
	color: #000000;
}

.top_menu_nav .nav_photo {
	box-sizing: border-box;
	width: 361px;
	text-align: left;
	padding-left: 73px;
}

.top_menu_nav .nav_map {
	box-sizing: border-box;
	width: 361px;
	text-align: right;
	padding-right: 74px;
}

.nav_under_logo {
	display: inline-block;
	vertical-align: top;
	width: 244px;
}

.top_menu_nav li a {
	font-weight: bold;
}

/*INTRO--------------------------------------------------------------*/

/*.intro {
	font-size: 0;
	line-height: 0;
}*/

.intro {
	position: relative;
	width: 1200px;
	height: 509px;
	background-color: lightblue;
	background-image: url("../img/sedona_intro.jpg"); 
}

.intro_img_welcome {
	position: absolute;
	top: 76px;
	left: 600px;
	margin-left: -128px;
}

.intro_img_sedona {
	position: absolute;
	top: 214px;
	left: 600px;
	margin-left: -229px;
}

.intro_img_because {
	position: absolute;
	top: 348px;
	left: 600px;
	margin-left: -148px;
}

.frame {
	position: absolute;
	bottom: -8px; /*если сделать 0px, появляется зазор. ПОЧЕМУ?!*/
}


/*CONTENT------------------------------------------------------------*/

.content_title {
	padding-top: 59px;
	padding-bottom: 52px;
	text-align: center;
}

.content_claim_main {
	width: 458px;
	margin: 0 auto 27px;
}


/*Claim--------------------------------------------------------------*/

.claim {
	font-size: 0;
}

.content_claim {
	display: inline-block;
	vertical-align: top;
	width: 400px;
	padding-top: 47px;
	padding-bottom: 53px;  /*как сделать защиту от переполнения?*/
	font-size: 14px;
	color: white;
	background-color: #81b3d2;
}

.content_img {
	display: inline-block;
	vertical-align: top;
	width: 800px;
	height: 256px;
}

.claim_left .claim_bold {
	margin: auto;
	margin-bottom: 24px;
	width: 125px;
	font-weight: bold;
	font-size: 21px;
	text-align: center;
	line-height: 21px;
}

.claim_right .claim_bold {
	margin: auto;
	margin-bottom: 24px;
	width: 200px;
	font-weight: bold;
	font-size: 21px;
	text-align: center;
	line-height: 21px;
}

.claim_number {
	margin: auto;
	width: 125px;
	text-align: center;
	line-height: 21px;
	margin-bottom: 27px;
}

.claim_left .claim_claim {
	margin: 0 auto ;
	width: 285px;
	text-align: center;
	line-height: 21px;
}

.claim_right .claim_claim {
	margin: auto;
	width: 230px;
	text-align: center;
	line-height: 21px;
}



/*Features_1-----------------------------------------------*/

.features_first {
	width: 1200px;
	font-size: 0px;
	text-align: center;
}

.features_first_box {
	display: inline-block;
	vertical-align: top;
	width: 400px;
}

.features_first .claim_bold {  /*как сделать защиту от переполнения?*/
	margin: auto;
	margin-bottom: 25px;
	width: 125px;
	font-weight: bold;
	font-size: 21px;
	text-align: center;
	line-height: 21px;
}

.features_first .claim_claim {  /*как сделать защиту от переполнения?*/
	margin: auto;
	margin-bottom: 64px;
	width: 300px;
	font-size: 14px; 
	text-align: center;
	line-height: 21px;
}

.blue_icon {
	margin-bottom: 29px;
	padding-top: 60px;
}


/*Features_2--------------------------------------------------*/

.features_second {
	width: 1200px;
	font-size: 0px;
	padding-top: 47px;
	background-color: #eeeeee; /*костыль от выпадения - так можно?*/ 

}

.features_second_box {
	display: inline-block;
	vertical-align: top;
	width: 400px;
	font-size: 14px;
	background-color: #eeeeee; 
}

.features_second .claim_bold {
	margin: auto;
	margin-bottom: 24px;
	width: 125px;
	font-weight: bold;
	font-size: 21px;
	text-align: center;
	line-height: 21px;
}

.features_second .claim_number {
	margin: auto;
	margin-bottom: 24px;
	width: 125px;
	text-align: center;
	font-size: 14px;
	line-height: 21px;
}

.features_second .claim_claim {
	margin: auto;
	margin-bottom: 56px;
	width: 250px;
	text-align: center;
	font-size: 14px;
	line-height: 21px;
} 


/*Search--------------------------------------------------------*/

.search_cta {
	width: 1200px;
}

.search_cta_txt {
	padding-top: 54px;
	text-align: center;
}

.search_cta_txt .claim_bold {
	font-size: 30px;
	line-height: 24px;
	font-weight: bold;
	margin-bottom: 29px;
}

.search_cta_txt .claim_claim {
	width: 440px;
	margin: auto;	
	font-size: 14px;
	line-height: 24px;	
}

.search_cta .search_hotels {
	display: block;
	width: 568px;
	height: 56px;
	margin: 50px auto 0;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: white;
	text-align: center;
	padding-top: 30px;
	background-color: #766357;
}


/*MAP-------------------------------------------------------------*/

.map {
	position: relative;
	width: 1200px;
	height: 593px;
}

/*Serchform-------------------------------------------------------*/

.modal_search {
	/*display: none;*/
	font-size: 0;
	position: absolute;
	left: 600px;
	top: 0;
	width: 568px;
	height: 395px;
	transform: translateX(-50%);
	background-color: white;
	box-shadow: -3px 3px 15px -5px rgba(0,0,0,0.5), 3px 3px 15px -5px rgba(0,0,0,0.5);
}

.search_form {
	width: 458px;
	margin-top: 55px;
	margin-left: 55px;
}

.field1 label,
.field1 div,
.field2 label,
.field2 div,
.field2 {
	display: inline-block;
	vertical-align: center;
	margin-bottom: 29px;
}

.field1 label {
	min-width: 100px;
	margin-right: 12px;
}

.field1 input {
	box-sizing: border-box;
	width: 346px;
	height: 38px;
	padding-right: 38px;
	font-weight: bold;
	text-indent: 13px;
	background-color: #f2f2f2;
	border: none;
}

.field1 {
	position: relative;
}

.calendar {
	position: absolute;
	top: 0;
	right: 0px;
	width: 38px;
	height: 38px;
	background-image: url("../img/icon_caledar_sprite.png");
	background-repeat: no-repeat;
	background-position: 50% 8px; 
}

input[name="arrival"]:hover + .calendar,
input[name="departure"]:hover + .calendar {
	background-position: 50% -31px;
}





.field2 label {
	min-width: 100px;
	margin-right: 12px;
}

.field2 input {
	box-sizing: border-box;
	width: 114px;
	height: 38px;
	font-weight: bold;
	text-align: center;
	padding-left: 38px;
	padding-right: 38px;
	background-color: #f2f2f2;
	border: none;
}

.field1 input:hover {
	background-color: #ebebeb;
}



.field1 input:focus {
	outline: 0;
    background-color: white;
	box-shadow: inset 0 0 0 2px #f2f2f2;
}

.adults_field,
.children_field {
	position: relative;
}

.adults_field .btn_minus,
.adults_field .btn_plus,
.children_field .btn_minus,
.children_field .btn_plus {
	position: absolute;
	top: 0;
	width: 38px;
	height: 38px;
	font-size: 0;
	border: none;
	background-color: #f2f2f2;
}

.adults_field .btn_minus {
	left: 0px;
}

.adults_field .btn_plus {
	right: 53px;
}

.children_field .btn_minus {
	left: 0px;
}

.children_field .btn_plus {
	right: 0px;
}

.field2 input:focus {
	outline: 0;
    background-color: white;
	box-shadow: inset 0 0 0 2px #f2f2f2;
}

.btn_minus::before {
	position: absolute;
	left: 13px;
	top: 18px;
	content: "";
	width: 12px;
	height: 3px;
	background: #a9a9a9;
}

.btn_plus::before,
.btn_plus::after {
	position: absolute;
	right: 13px;
	top: 18px;
	content: "";
	width: 12px;
	height: 3px;
	background: #a9a9a9;
}

.btn_plus::after {
	transform: rotate(90deg);
}

.btn_plus:hover::before,
.btn_plus:hover::after,
.btn_minus:hover::before {
 	background: black;
}






.adults input {
	margin-right: 53px;
}

.children label {
	min-width: 50px;
	margin-right: 15px;
}





.search_form .claim_bold {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: black;
}

.search_form .search_btn {
	display: block;
	width: 458px;
	padding: 15px 0 15px 0;
	margin: 0 0 54px;
	text-align: center;
	background-color: #81b3d2;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	color: white;
}

.search_btn:hover {
	background-color:  #669ec0;
}

.search_btn:active {
	background-color: #5496bd;
	color: rgba(255,255,255,0.3);
}



/*FOOTER-----------------------------------------------------------*/

.footer_invisible {
	position: relative;
}

.footer_wrap {
	position: absolute;
	bottom: 0;
	width: 1200px;
	min-height: 120px;
	background-color: rgba(255,255,255,0.9);
}

.footer_visit {
	display: inline-block;
	vertical-align: top;
	width: 140px;
	margin-top: 50px;
	margin-left: 130px;
	margin-right: 130px;
	color: black;
	font-weight: bold;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
}

.footer_visit a:visited {
	color: black;
}

.footer_social {
	display: inline-block;
	vertical-align: top;
	margin-left: 125px;
	margin-right: 125px;
	margin-top: 38px;
}

.footer_website {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-top: 51px;
	margin-left: 102px;
	margin-right: 103px;
}

.footer_website .footer_website_logo {
	position: absolute;
	transform: translateY(-32px);
	left: 82px;
	display: inline-block;
	width: 113px;
	height: 39px;
	background-image: url("../img/HTML_logo_sprite.png");
	background-position: 0 0;
	cursor: pointer;
}

.footer_website .footer_website_logo:hover {
	background-position: 0 -48px;
}

.footer_website .footer_website_logo:active {
	background-position: 0 -95px;
}

.social_btn {
	display: inline-block;
	vertical-align: bottom;
	width: 46px;
	height: 48px;
	margin-right: 3px;
	/*background-color: #81b3d2;*/
	background-image: url("../img/social_sprite.png");
	background-repeat: no-repeat;
}

.social_btn:last-child {
	margin-right: 0;
}

.social_btn_tw {
	font-size: 0;
	background-position: 0px 0px;
}

.social_btn_tw:hover {
	background-position: -46px 0px;
}

.social_btn_tw:active {
	background-position: -92px 0px;
}

.social_btn_fb {
	font-size: 0;
	background-position: 0px -47px;
}

.social_btn_fb:hover {
	background-position: -47px -47px;	
}

.social_btn_fb:active {
	background-position: -92px -47px;
}

.social_btn_yt {
	font-size: 0;
	background-position: 0px -96px;
}

.social_btn_yt:hover {
	background-position: -46px -96px;
}

.social_btn_yt:active {
	background-position: -92px -96px;
}