body {
	font-family: "PT Sans";
	/*font-stretch: condensed; */
	font-weight: normal;
	font-size: 14px;
	line-height: 26px;
	color: black;
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

.h1_hidden {
	font-size: 21px;
	line-height: 26px;
	color: black;
}



.all_wrapper {
	position: relative;
	width: 1200px;
	height: 2762px;
	margin: 0 auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
 
/*HEADER--------------------------------------------------------------*/

.top_menu_nav {
	width: 1200px;
	background: white;
	font-size: 0px;
}

.top_menu_logo {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.top_menu_nav ul {
	padding: 0; /*непонятно, откуда он тут взялся, чтоб его обнулять?*/
}

.top_menu_nav li {
	display: inline-block;
	vertical-align: top;
	width: 239px;
	text-align: center;
	padding: 15px 0 15px 0;
	font-size: 14px;
	color: #000000;
}

.top_menu_nav .nav_photo {
	box-sizing: border-box;
	width: 361px;
	text-align: left;
	padding-left: 73px;
}

.top_menu_nav .nav_map {
	box-sizing: border-box;
	width: 361px;
	text-align: right;
	padding-right: 74px;
}

.nav_under_logo {
	display: inline-block;
	vertical-align: top;
	width: 244px;
}

.top_menu_nav li a {
	font-weight: bold;
}

/*INTRO--------------------------------------------------------------*/

/*.intro {
	font-size: 0;
	line-height: 0;
}*/

.intro {
	position: relative;
	width: 1200px;
	height: 509px;
	background-color: lightblue;
	background-image: url("../img/sedona_intro.jpg"); 
}

.intro_img_welcome {
	position: absolute;
	top: 76px;
	left: 600px;
	margin-left: -128px;
}

.intro_img_sedona {
	position: absolute;
	top: 214px;
	left: 600px;
	margin-left: -229px;
}

.intro_img_because {
	position: absolute;
	top: 348px;
	left: 600px;
	margin-left: -148px;
}

.frame {
	position: absolute;
	bottom: -8px; /*если сделать 0px, появляется зазор. ПОЧЕМУ?!*/
}


/*CONTENT------------------------------------------------------------*/

.content_title {
	padding-top: 59px;
	padding-bottom: 52px;
	text-align: center;
}

.content_claim_main {
	width: 458px;
	margin: 0 auto 27px;
}


/*Claim--------------------------------------------------------------*/

.claim {
	font-size: 0;
}

.content_claim {
	display: inline-block;
	vertical-align: top;
	width: 400px;
	padding-top: 47px;
	padding-bottom: 53px;  /*как сделать защиту от переполнения?*/
	font-size: 14px;
	color: white;
	background-color: #81b3d2;
}

.content_img {
	display: inline-block;
	vertical-align: top;
	width: 800px;
	height: 256px;
}

.claim_left .claim_bold {
	margin: auto;
	margin-bottom: 24px;
	width: 125px;
	font-weight: bold;
	font-size: 21px;
	text-align: center;
	line-height: 21px;
}

.claim_right .claim_bold {
	margin: auto;
	margin-bottom: 24px;
	width: 200px;
	font-weight: bold;
	font-size: 21px;
	text-align: center;
	line-height: 21px;
}

.claim_number {
	margin: auto;
	width: 125px;
	text-align: center;
	line-height: 21px;
	margin-bottom: 27px;
}

.claim_left .claim_claim {
	margin: 0 auto ;
	width: 285px;
	text-align: center;
	line-height: 21px;
}

.claim_right .claim_claim {
	margin: auto;
	width: 230px;
	text-align: center;
	line-height: 21px;
}



/*Features_1-----------------------------------------------*/

.features_first {
	width: 1200px;
	font-size: 0px;
	text-align: center;
}

.house, 
.burger,
.gift {
	display: inline-block;
	vertical-align: top;
	width: 400px;
}

.features_first .claim_bold {  /*как сделать защиту от переполнения?*/
	margin: auto;
	margin-bottom: 25px;
	width: 125px;
	font-weight: bold;
	font-size: 21px;
	text-align: center;
	line-height: 21px;
}

.features_first .claim_claim {  /*как сделать защиту от переполнения?*/
	margin: auto;
	margin-bottom: 64px;
	width: 300px;
	font-size: 14px; 
	text-align: center;
	line-height: 21px;
}

.blue_icon {
	margin-bottom: 29px;
	padding-top: 60px;
}


/*Features_2--------------------------------------------------*/

.features_second {
	width: 1200px;
	font-size: 0px;
	padding-top: 47px;
	background-color: #eeeeee; /*костыль от выпадения - так можно?*/ 

}

.features_second_area,
.features_second_road,
.features_second_tourists {
	display: inline-block;
	vertical-align: top;
	width: 400px;
	font-size: 14px;
	background-color: #eeeeee; 
}

.features_second .claim_bold {
	margin: auto;
	margin-bottom: 24px;
	width: 125px;
	font-weight: bold;
	font-size: 21px;
	text-align: center;
	line-height: 21px;
}

.features_second .claim_number {
	margin: auto;
	margin-bottom: 24px;
	width: 125px;
	text-align: center;
	font-size: 14px;
	line-height: 21px;
}

.features_second .claim_claim {
	margin: auto;
	margin-bottom: 56px;
	width: 250px;
	text-align: center;
	font-size: 14px;
	line-height: 21px;
} 


/*Search--------------------------------------------------------*/

.search_cta {
	width: 1200px;
}

.search_cta_txt {
	padding-top: 54px;
	text-align: center;
}

.search_cta_txt .claim_bold {
	font-size: 30px;
	line-height: 24px;
	font-weight: bold;
}

.search_cta_txt .claim_claim {
	width: 440px;
	margin: auto;
	margin-top: 29px;	
	font-size: 14px;
	line-height: 24px;	
}




.search_hotels {
	margin: 50px auto 0;
	width: 568px;
	height: 56px;
	text-align: center;
	padding-top: 30px;
	background-color: #766357;
}

.search_hotels .claim_bold {
	margin: auto;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: white;
}


/*MAP-------------------------------------------------------------*/

.map {
	position: relative;
	width: 1200px;
	height: 593px;
}

/*Serchform-------------------------------------------------------*/

.search {
	position: absolute;
	left: 600px;
	top: 0;
	width: 568px;
	height: 395px;
	margin: 0 -284px;
	background-color: white;
	box-shadow: 0 0 20px;
}

.search_form .claim_bold {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: black;
}
.search_btn .claim_bold {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	color: white
}

.search_form {
	width: 458px;
	margin-top: 55px;
	margin-left: 55px;
}

.search_btn {
	margin: 54px 0;
	text-align: center;
	width: 458px;
	padding: 15px 0 15px 0;
	background-color: #81b3d2;
}

.search_btn:hover {
	background-color:  #669ec0;
}

.search_btn:active {
	background-color: #5496bd;
}

.field {
	box-sizing: border-box;
}

.q {
	display: inline-block;
	text-align: right;
}




/*FOOTER-----------------------------------------------------------*/

.footer_invisible {
	position: relative;
}

.footer_wrap {
	position: absolute;
	bottom: 0;
	width: 1200px;
	min-height: 120px;
	background-color: rgba(255,255,255,0.9);
}

.footer_visit {
	display: inline-block;
	vertical-align: top;
	width: 140px;
	margin-top: 50px;
	margin-left: 130px;
	margin-right: 130px;
	color: black;
	font-weight: bold;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
}

.footer_social {
	display: inline-block;
	vertical-align: top;
	margin-left: 125px;
	margin-right: 125px;
	margin-top: 38px;
}

.footer_website {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-top: 51px;
	margin-left: 102px;
	margin-right: 103px;
}

.footer_website .footer_website_logo {
	position: absolute;
	transform: translateY(-32px);
	left: 82px;
	display: inline-block;
	width: 113px;
	height: 39px;
	background-image: url("../img/HTML_logo_sprite.png");
	background-position: 0 0;
}

.footer_website .footer_website_logo:hover {
	background-position: 0 -48px;
}

.footer_website .footer_website_logo:active {
	background-position: 0 -95px;
}

.social_btn {
	display: inline-block;
	vertical-align: bottom;
	width: 46px;
	height: 48px;
	margin-right: 3px;
	/*background-color: #81b3d2;*/
	background-image: url("../img/social_sprite.png");
	background-repeat: no-repeat;
}

.social_btn:last-child {
	margin-right: 0;
}

.social_btn_tw {
	font-size: 0;
	background-position: 0px 0px;
}

.social_btn_tw:hover {
	background-position: -46px 0px;
}

.social_btn_tw:active {
	background-position: -92px 0px;
}

.social_btn_fb {
	font-size: 0;
	background-position: 0px -47px;
}

.social_btn_fb:hover {
	background-position: -47px -47px;	
}

.social_btn_fb:active {
	background-position: -92px -47px;
}

.social_btn_yt {
	font-size: 0;
	background-position: 0px -96px;
}

.social_btn_yt:hover {
	background-position: -46px -96px;
}

.social_btn_yt:active {
	background-position: -92px -96px;
}