body {
	font-family: "PT Sans", "Arial", sans-serif;
	/*font-stretch: condensed; */
	font-weight: normal;
	font-size: 14px;
	line-height: 26px;
	color: black;
	text-transform: uppercase;
}

* {
	margin: 0; /*понимаю, что не очень хорошо,*/
	padding: 0; /*но Нормалайз не помог почему-то*/
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

.h2_hidden {
	display: none;
	font-size: 21px;
	line-height: 26px;
	color: black;
}



.all_wrapper {
	position: relative;
	width: 1200px;
	/*height: 2762px;*/
	margin: 0 auto;
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
	        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
 
/*HEADER--------------------------------------------------------------*/

.top_menu_nav {
	width: 1200px;
	background: white;
	font-size: 0px;
}

.top_menu_logo {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
}

.top_menu_nav ul {
	list-style-type: none;
	padding: 0; 
}

.top_menu_nav li {
	display: inline-block;
	vertical-align: top;
	width: 239px;
	text-align: center;
	padding: 15px 0 15px 0;
	font-size: 14px;
	color: #000000;
}

.top_menu_nav a:visited {
	color: #000000;
}

.top_menu_nav a:active {
	color: #000000;
	opacity: 0.3;
}

.top_menu_nav a:hover {
	color: #81b3d2;
}

.top_menu_nav .active {
	color: #766357;
}

.top_menu_nav .nav_photo {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 361px;
	text-align: left;
	padding-left: 73px;
}

.top_menu_nav .nav_map {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 361px;
	text-align: right;
	padding-right: 74px;
}

.nav_under_logo {
	display: inline-block;
	vertical-align: top;
	width: 244px;
}

.top_menu_nav li a {
	font-weight: bold;
}

/*INTRO--------------------------------------------------------------*/

.intro {
	position: relative;
	width: 1200px;
	height: 508px;
	background: lightblue url("../img/sedona_intro.jpg") no-repeat; 
}

.intro_img_welcome {
	position: absolute;
	top: 76px;
	left: 600px;
	margin-left: -128px;
}

.intro_img_sedona {
	position: absolute;
	top: 214px;
	left: 600px;
	margin-left: -229px;
}

.intro_img_because {
	position: absolute;
	top: 348px;
	left: 600px;
	margin-left: -148px;
}

/*.frame {
	position: absolute;
	bottom: -8px; 
}*/


/*CONTENT------------------------------------------------------------*/

.content_title {
	padding-top: 59px;
	padding-bottom: 52px;
	text-align: center;
}

.content_claim_main {
	width: 458px;
	margin: 0 auto 27px;
}


/*Claim--------------------------------------------------------------*/

.claim {
	font-size: 0;
}

.content_claim {
	display: inline-block;
	vertical-align: top;
	width: 400px;
	padding-top: 47px;
	padding-bottom: 59px;  /*как сделать защиту от переполнения?*/
	font-size: 14px;
	color: white;
	background-color: #81b3d2;
}

.content_img {
	display: inline-block;
	vertical-align: top;
	width: 800px;
	height: 256px;
}

.claim_left .claim_bold {
	margin: auto;
	margin-bottom: 24px;
	width: 125px;
	font-weight: bold;
	font-size: 21px;
	text-align: center;
	line-height: 21px;
}

.claim_right .claim_bold {
	margin: auto;
	margin-bottom: 24px;
	width: 152px;
	font-weight: bold;
	font-size: 21px;
	text-align: center;
	line-height: 21px;
}

.claim_number {
	margin: auto;
	width: 125px;
	text-align: center;
	line-height: 21px;
	margin-bottom: 21px;
}

.claim_left .claim_claim {
	margin: 0 auto ;
	width: 285px;
	text-align: center;
	line-height: 21px;
}

.claim_right .claim_claim {
	margin: auto;
	width: 230px;
	text-align: center;
	line-height: 21px;
}



/*Features_1-----------------------------------------------*/

.features_first {
	width: 1200px;
	font-size: 0px;
	text-align: center;
}

.features_first_box {
	display: inline-block;
	vertical-align: top;
	width: 400px;
}

.features_first .claim_bold {  
	margin: auto;
	margin-bottom: 25px;
	width: 125px;
	font-weight: bold;
	font-size: 21px;
	text-align: center;
	line-height: 21px;
}

.features_first .claim_claim {  
	margin: auto;
	margin-bottom: 81px;
	width: 300px;
	font-size: 14px; 
	text-align: center;
	line-height: 21px;
}

.blue_icon {
	margin-bottom: 15px;
	padding-top: 57px;
}


/*Features_2--------------------------------------------------*/

.features_second {
	width: 1200px;
	font-size: 0px;
	padding-top: 47px;
	background-color: #eeeeee; /*костыль от выпадения - так можно?*/ 

}

.features_second_box {
	display: inline-block;
	vertical-align: top;
	width: 400px;
	font-size: 14px;
	background-color: #eeeeee; 
}

.features_second .claim_bold {
	margin: auto;
	margin-bottom: 24px;
	width: 125px;
	font-weight: bold;
	font-size: 21px;
	text-align: center;
	line-height: 21px;
}

.features_second .claim_number {
	margin: auto;
	margin-bottom: 22px;
	width: 125px;
	text-align: center;
	font-size: 14px;
	line-height: 21px;
}

.features_second .claim_claim {
	margin: auto;
	margin-bottom: 56px;
	width: 250px;
	text-align: center;
	font-size: 14px;
	line-height: 21px;
} 


/*Search--------------------------------------------------------*/

.search_cta {
	width: 1200px;
}

.search_cta_txt {
	padding-top: 56px;
	text-align: center;
}

.search_cta_txt .claim_bold {
	font-size: 30px;
	line-height: 24px;
	font-weight: bold;
	margin-bottom: 29px;
}

.search_cta_txt .claim_claim {
	width: 440px;
	margin: auto;	
	font-size: 14px;
	line-height: 24px;	
}

.search_cta .search_hotels {
	display: block;
	width: 568px;
	height: 56px;
	margin: 50px auto 0;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: white;
	text-align: center;
	padding-top: 30px;
	background-color: #766357;
}


/*MAP-------------------------------------------------------------*/

.map {
	position: relative;
	width: 1200px;
	height: 593px;
	background-color: #cbe6a3;
}

.map iframe {
	border: 0;
}

/*Serchform-------------------------------------------------------*/

.modal_search {
	/*display: none;*/
	font-size: 0;
	position: absolute;
	left: 600px;
	top: 0;
	width: 568px;
	height: 395px;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	background-color: white;
	-webkit-box-shadow: -3px 3px 15px -5px rgba(0,0,0,0.5), 3px 3px 15px -5px rgba(0,0,0,0.5);
	        box-shadow: -3px 3px 15px -5px rgba(0,0,0,0.5), 3px 3px 15px -5px rgba(0,0,0,0.5);
}

.search_form {
	width: 458px;
	margin-top: 55px;
	margin-left: 55px;
}

.field1 label,
.field1 input {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 29px;
}

.field2 label,
.field2 div,
.field2 {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 28px;
}

.field1 label {
	min-width: 100px;
	margin-right: 12px;
}

.field1 input {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 346px;
	height: 38px;
	padding-right: 38px;
	font-weight: bold;
	text-indent: 13px;
	background-color: #f2f2f2;
	border: none;
}

.field1 {
	position: relative;
}

.calendar {
	position: absolute;
	top: 0;
	right: 0px;
	width: 38px;
	height: 38px;
	background: #f2f2f2 url("../img/icon_caledar_sprite.png") no-repeat;
	background-position: 50% 8px; 
}

input[name="arrival"]:hover + .calendar,
input[name="departure"]:hover + .calendar {
	background-position: 50% -31px;
	background-color: #ebebeb;
}

input[name="arrival"]:focus + .calendar,
input[name="departure"]:focus + .calendar {
	background-position: 50% -69px;
	background-color: transparent;
}




.field2 label {
	min-width: 100px;
	margin-right: 12px;
}

.field2 input {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 114px;
	height: 38px;
	font-weight: bold;
	text-align: center;
	padding-left: 38px;
	padding-right: 38px;
	background-color: #f2f2f2;
	border: none;
}

.field1 input:hover {
	background-color: #ebebeb;
}



.field1 input:focus {
	outline: 0;
    background-color: white;
	-webkit-box-shadow: inset 0 0 0 2px #f2f2f2;
	        box-shadow: inset 0 0 0 2px #f2f2f2;
}

.adults_field,
.children_field {
	position: relative;
}

.adults_field .btn_minus,
.adults_field .btn_plus,
.children_field .btn_minus,
.children_field .btn_plus {
	position: absolute;
	top: 0;
	width: 38px;
	height: 38px;
	font-size: 0;
	border: none;
	background-color: #f2f2f2;
}

.adults_field .btn_minus {
	left: 0px;
}

.adults_field .btn_plus {
	right: 53px;
}

.children_field .btn_minus {
	left: 0px;
}

.children_field .btn_plus {
	right: 0px;
}

.field2 input:focus {
	outline: 0;
    background-color: white;
	-webkit-box-shadow: inset 0 0 0 2px #f2f2f2;
	        box-shadow: inset 0 0 0 2px #f2f2f2;
}

.btn_minus::before {
	position: absolute;
	left: 13px;
	top: 18px;
	content: "";
	width: 12px;
	height: 3px;
	background: #a9a9a9;
}

.btn_plus::before,
.btn_plus::after {
	position: absolute;
	right: 13px;
	top: 18px;
	content: "";
	width: 12px;
	height: 3px;
	background: #a9a9a9;
}

.btn_plus::after {
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
}

.btn_plus:hover::before,
.btn_plus:hover::after,
.btn_minus:hover::before {
 	background: black;
}






.adults input {
	margin-right: 53px;
}

.children label {
	min-width: 50px;
	margin-right: 15px;
}





.search_form .claim_bold {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: black;
}

.search_form .search_btn {
	display: block;
	width: 458px;
	padding: 15px 0 15px 0;
	margin: 0 0 54px;
	text-align: center;
	background-color: #81b3d2;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	color: white;
}

.search_btn:hover {
	background-color:  #669ec0;
}

.search_btn:active {
	background-color: #5496bd;
	color: rgba(255,255,255,0.3);
}



/*FOOTER-----------------------------------------------------------*/
/*
.footer_invisible {
	position: relative;
	
}*/

.footer_wrap {
	position: absolute;
	bottom: 0;
	width: 1200px;
	min-height: 120px;
	background-color: rgba(255,255,255,0.9);
}

.footer_wrap_inner {
	position: relative;

	width: 1200px;
	margin: auto;
}

.footer_visit {
	display: inline-block;
	vertical-align: top;
	width: 140px;
	margin-top: 46px;
	margin-left: 130px;
	margin-right: 130px;
	color: black;
	font-weight: bold;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
}

.footer_visit a:visited {
	color: black;
}

.footer_social {
	display: inline-block;
	vertical-align: top;
	margin-left: 121px;
	margin-right: 125px;
	margin-top: 36px;
}



.footer_website {
	display: inline-block;
	vertical-align: middle;
	width: 210px;
	height: 40px;
	margin-top: 40px;
	margin-left: 100px;
}



.footer_website_title {
	display: inline-block;
	vertical-align: top;
	width: 74px;
	margin-top: 6px;
	margin-right: 4px;
	font-size: 14px;
	line-height: 26px;
	color: black;
}

.footer_website_logo {
	display: inline-block;
	vertical-align: middle;
	width: 114px;
	height: 40px;
	background: url("../img/HTML_logo_sprite.png") no-repeat;
	background-position: 0 1px; 
}

.footer_website .footer_website_logo:hover {
	background-position: 0 -47px;
}

.footer_website .footer_website_logo:active {
	background-position: 0 -94px;
}







.social_btn {
	display: inline-block;
	vertical-align: bottom;
	width: 46px;
	height: 48px;
	margin-right: 2px;
	background: #81b3d2 url("../img/social_sprite.png") no-repeat;
	background-repeat: no-repeat;
}

.social_btn:last-child {
	margin-right: 0;
}

.social_btn_tw {
	font-size: 0;
	background-position: 0px 0px;
}

.social_btn_tw:hover {
	background-position: -46px 0px;
}

.social_btn_tw:active {
	background-position: -92px 0px;
}

.social_btn_fb {
	font-size: 0;
	background-position: 0px -47px;
}

.social_btn_fb:hover {
	background-position: -47px -47px;	
}

.social_btn_fb:active {
	background-position: -92px -47px;
}

.social_btn_yt {
	font-size: 0;
	background-position: 0px -96px;
}

.social_btn_yt:hover {
	background-position: -46px -96px;
}

.social_btn_yt:active {
	background-position: -92px -96px;
}



/*CATALOG-----------------------------------------------------*/


/*Filters------------------------------------------------------*/

.filters {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	min-height: 217px;
	padding-left: 73px;
	padding-right: 72px;
	padding-top: 27px;
	background: #99a2aa url("../img/back.jpg") no-repeat;
	color: white;
}

.filter_block {
	display: inline-block;
	vertical-align: top;
	min-width: 145px;
	margin-right: 105px; 
}

.filter_block b {
	display: block;
	font-size: 16px;
	line-height: 21px;
	margin-bottom: 22px; 	
}

.filter_block label {
	font-size: 14px;
	line-height: 21px;
}

.filter_block div {
	margin-bottom: 20px;
}

.filter_block div:last-child {
	margin-bottom: 0;
}




.select_item {
	position: relative;
	padding-left: 41px;
	cursor: pointer;
}

.select_item input[type="checkbox"] {
	display: none; /*знаю, что плохо, прочту - сделаю хорошо*/
}

.select_item input[type="checkbox"] + .checkbox_indicator {
	position: absolute;
	top: -2px;
	left: 0;
	width: 25px;
	height: 22px;
	background: url("../img/checkbox_sprite.png") no-repeat;
	background-position: 0px 0;
}

.select_item input[type="checkbox"]:checked + .checkbox_indicator {
	background-position: 0 -52px;
}

.select_item input[type="checkbox"]:disabled + .checkbox_indicator {
	background-position: 0 -79px;
}








.price {
	width: 318px;
	margin-right: 0px;
	margin-left: 229px;

}

.price b {
	margin-bottom: 11px;
}

.price_control {
	position: relative;
	width: 314px;
	height: 32px;
	margin-bottom: 20px;
	font-size: 0;
	border: 2px solid white;
	border-radius: 2px;
}

.price_control::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 2px;
	height: 22px;
	background-color: white;
}


.price_control label {
	display: inline-block;
	vertical-align: top;
	line-height: 31px;
	cursor: pointer;
}

.min_price {
	width: 90px;
	padding-left: 65px;
}

.max_price {
	width: 90px;
	padding-left: 58px;
}

.price_control input {
	width: 50px;
	margin: 0;
	font: inherit;
	color: inherit;
	background: none;
	border: none;
	outline: none;
}

.range_control {
	position: relative;
	margin-bottom: 32px;
}

.range_control .scale {
	height: 2px;
	background-color: rgba(255,255,255,0.3);
	margin-bottom: 32px;
}

.range_control .bar {
	width: 80%;
	height: 2px;
	background-color: white;
}

.range_toggle {
	position: absolute;
	top: -10px;
	width: 5px;
	height: 5px;
	margin: 0;
	background-color: #ababab;
	border: 8px solid white;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 1px 0 rgba(0,1,1,0.14);
	        box-shadow: 0 2px 1px 0 rgba(0,1,1,0.14);
	cursor: pointer;
}

.toggle_min {
	left: 0;
}

.toggle_max {
	left: 80%;
}

.range_toggle:hover {
	background-color: #1c4f80;
}

.btn_show {         /*в макете она НЕ четко по центру*/
	display: block;
	margin: 0 auto;
	padding: 6px 30px;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	text-transform: uppercase;
	color: white;
	background-color: transparent;
	border: 2px solid white;
	border-radius: 2px;
	outline: none;
	cursor: pointer;
}

.btn_show:hover {
	color: black;
	background-color: white;
}

/*Sort--------------------------------------------------------*/

.sort {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	min-height: 86px;
	padding-top: 28px;
	padding-left: 73px;
	border-bottom: 1px solid #ebebeb;
}

.sort b {
	display: inline-block;
	vertical-align: middle;
	margin-right: 42px;
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

.sort p,
.sort a {
	display: inline-block;
	vertical-align: middle;
	margin-right: 28px;
	font-size: 12px;
	line-height: 18px;
}

.sort p {
	margin-right: 38px;
}

.sort .sort_type {
	text-decoration: underline;
	-webkit-text-decoration-style: dotted;
	        text-decoration-style: dotted;
	color: rgba(0,0,0,0.3);
}

.sort .sort_type:hover {
	color: #81b3d2;
}

.sort .sort_type:active {
	color: black;
}

.sort .active_sort {
	color: #81b3d2;
	text-decoration: none; 
}


div.arrows {
	display: inline-block;
	vertical-align: middle;
	width: 35px;
	height: 18px;
	margin-left: 474px;
	font-size: 0;
}

.arrows a {
	display: inline-block;
	vertical-align: middle;
	line-height: 5px;
	font-size: 0;
}

.arrows .arrow_up {
	width: 10px;
	height: 11px;
	margin-right: 12px;
	/*background-color: #cccccc;*/
	background-image: url("../img/arrows_up_sprite.png");
	background-position: 0 0;
} 

.arrows .arrow_down {
	width: 10px;
	height: 11px;
	margin: 0;
	/*background-color: #cccccc;*/
	background-image: url("../img/arrows_down_sprite.png");
	background-position: 0 0;
}

.arrows .arrow_up:hover {
	background-position: 0 -33px;
}

.arrows .arrow_up:active {
	background-position: 0 -66px;
}

.arrows .arrow_down:hover {
	background-position: 0 -31px;
}

.arrows .arrow_down:active {
	background-position: 0 -65px;
}

.arrows .active_arrow {
	background-position: 0 -65px;
}

/*Sort content-------------------------------------------------*/

.sort_content_item {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-size: 0;
	min-height: 151px;
	padding-top: 31px;
	border-bottom: 1px solid #ebebeb;
}

.sort_content_item_img {
	display: inline-block;
	vertical-align: middle;
	margin-left: 72px;
	margin-right: 30px;
}

.sort_content_item_discription {
	display: inline-block;
	vertical-align: top;
}

.sort_content_item_discription h2 {
	margin-top: -5px;
	margin-bottom: 8px;
	font-size: 21px;
	line-height: 26px;
}

.sort_content_item_discription h2:hover {
	color: #81b3d2;
}

.sort_content_item_discription h2:active {
	color: rgba(0,0,0,0.3);
}

.sort_content_item_discription p {
	display: inline-block;
	vertical-align: middle;
	width: 100px;
	margin-right: 17px;
	margin-bottom: 16px;
	font-size: 14px;
	line-height: 21px;
}

.sort_content_item_discription_more {
	margin-right: 6px;
	padding: 5px 17px 5px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	line-height: 21px;
	background-color: #81b3d2;
}

.sort_content_item_discription_more:hover {
	background-color: #669ec0;
}

.sort_content_item_discription_more:active {
	background-color: #5496bd;
	color: rgba(255,255,255,0.3) 
}

.sort_content_item_discription_book {
	padding: 5px 17px 5px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	line-height: 21px;
	background-color: #766357;
}

.sort_content_item_discription_book:hover {
	background-color: #604e43;
}

.sort_content_item_discription_book:active {
	background-color: #503e33;
	color: rgba(255,255,255,0.3) 
}


.sort_content_item_rate {
	display: inline-block;
	vertical-align: top;
	height: 91px;
	margin-left: 520px;
}

.sort_content_item_rate a {
	display: block;
	width: 89px;
	height: 18px;
	margin-left: 25px;
	margin-bottom: 44px;
}

a.four_stars {
	/*background-color: #81b3d2;*/
	background-image: url("../img/stars_4.png"); 
}

a.three_stars {
	/*background-color: #81b3d2;*/
	background-image: url("../img/stars_3.png");
	background-repeat: no-repeat;
	background-position: 22px 0;
}

a.two_stars {
	/*background-color: #81b3d2;*/
	background-image: url("../img/stars_2.png");
	background-repeat: no-repeat;
	background-position: 44px 0;
}

.sort_content_item_rate .rate {
	width: 110px;
	height: 23px;
	padding-top: 4px;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	color: black;
	background-color:  #f2f2f2;
}